name: Update NPM packages

on:
  workflow_dispatch:
  schedule:
    - cron:  "0 0 * * 0"

jobs:
  update-packages:
    name: Update packages

    runs-on: ubuntu-slim

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "lts/*"

      - name: Install dependencies
        run: npm install -g npm-check-updates

      - name: Update autoprefixer & postcss packages
        run: |
          npm-check-updates -f autoprefixer -u
          npm-check-updates -f postcss -u
          npm install

      - name: Build docs
        run: |
          npm run build

      - name: Commit package and docs changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add package.json package-lock.json docs/
          git diff-index --quiet HEAD || git commit -m "Update dependencies & build docs"
          git push
